<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wyniki</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="wyniki.css">
</head>
<body>
    <header>
        <h1>Wyniki wyszukiwania</h1>
        <img src="img/logo.png" class="logo" alt="logo zsti">
    </header>
    <main>
        <section class="result_posts">
            <% items.forEach(function(item) { %>
                <article class="result">
                    <div class="user_info">
                        <img src="img/conor.png">
                        <p class="username"><%= item.authorsEmail %></p>
                        <div class="star_container">
                            <% for (let i = 0; i < 5; i++) { %>
                                <i class="bi bi-star-fill" <% if (i >= item.rating) { %> style="color: lightgray;" <% } %>></i>
                            <% } %>
                        </div>
                    </div>
                    <div class="sbj_info">
                        <h5>Informacje</h5>
                        <div class="subject_info">
                            <div class="subject"><%= item.subject %></div>
                            <div class="unit"><%= item.unit %></div>
                            <div class="topic"><%= item.topic %></div>
                        </div>
                    </div>
                    <div class="description">
                        <h5>Opis</h5>
                        <p><%= item.description %></p>
                    </div>
                    <button class="result_link">Wybierz <i class="bi bi-arrow-right"></i></button>
                </article>
            <% }); %>
        </section>
    </main>
    <footer>
        <div class="icon-container">
            <a href="korepetytorzy.html"><i class="bi bi-people active"></i></a>
            <a href="add_korepetycje.html"><i class="bi bi-person-plus"></i></a>
            <a href="glowna.html"><i class="bi bi-house"></i></a>
            <a href="kalendarz.html"><i class="bi bi-calendar4-event"></i></a>
            <a href="profil.html"><i class="bi bi-person-circle"></i></a>
        </div>
    </footer>
</body>
</html>
